<style>

h1 {
    color: blue;
    text-align: center;
}

h2 {
    color: blue;
    text-align: center;
}

h4 {
    color: black;
    text-align: center;
}

ul {
    display: table;
    margin-left: auto;
    margin-right: auto;
    
}

.container {
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  width: 350px;
  height: 200px;
  outline: dashed 1px black;
}

.user-message {
    font-family: arial;
    font-size: 16px;
    color: firebrick;
    margin: 3px;
}

.bot-message {
    font-family: arial;
    font-size: 16px;
    font-color: black;
    margin: 3px;
}

.user-id {
    font-family: arial;
    font-size: 16px;
    color: white;
    background-color: darkgreen;
    margin: 3px;
}

.bot-id {
    font-family: arial;
    font-size: 16px;
    color: white;
    background-color: darkblue;
    margin: 3px;
}

.codehilite {
    white-space: pre-wrap;
}

pre {
    white-space: pre-wrap;
}
</style>
