<!DOCTYPE html>
<html lang='ko'>
<head>
  <meta charset='UTF-8' />
  <title>Conversational AI agent for review of scientific writing</title>
  <link rel='stylesheet' href='{{ url_for('static', filename='style.css') }}' />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    .status-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .text {
      margin-right: 10px;
    }

    .progress-bar {
      width: 450px;
      height: 10px;
      background-color: #f2f2f2;
      border-radius: 5px;
    }

    .progress-bar-fill {
        height: 100%;
        background-color: #4CAF50;
        border-radius: 5px;
        transition: width 0.5s;
    }

    .pretty-button {
      background-color: #D9E5FF;
      border: none;
      border-radius: 4px;
      padding: 5px 10px; /* 버튼 내부 여백 조정 */
      font-size: 15px;
      font-weight: bold;
      width: 250px;
      color: #333;
      text-decoration: none;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      outline: none;
      margin-bottom: 10px; /* 버튼 사이의 수직 간격 설정 */
      height: 30px; /* 버튼 높이 설정 */
    }
    
    .input {
      width: 45%;
      height: 60%;
      resize: none;
    }

    .output {
      width: 45%;
      height: 45%;
      resize: none;
      readonly;
    }

    .feedback {
      width: 45%;
      height: 10%;
      resize: none;
      readonly;
    }

  </style>
  <script>
    function resizeTextarea() {
        const textarea1 = document.querySelector('.input');
        const textarea2 = document.querySelector('.output');
        const textarea3 = document.querySelector('.feedback');
        const windowWidth = window.innerWidth || document.documentElement.clientWidth;
        const windowHeight = window.innerHeight || document.documentElement.clientHeight;
        const newWidth = windowWidth * 0.38; // 창 너비의 35%
        const newHeight = windowHeight * 0.60; // 창 너비의 60%
        const altHeight1 = windowHeight * 0.42; // 창 높이의 45%
        const altHeight2 = windowHeight * 0.10; // 창 높이의 10%

        textarea1.style.width = newWidth + 'px';
        textarea2.style.width = newWidth + 'px';
        textarea3.style.width = newWidth + 'px';
        textarea1.style.height = newHeight + 'px';
        textarea2.style.height = altHeight1 + 'px';
        textarea3.style.height = altHeight2 + 'px';
    }

    // 페이지 로드 및 창 크기 변경 이벤트 시 textarea 크기 조절
    window.addEventListener('load', resizeTextarea);
    window.addEventListener('resize', resizeTextarea);
  </script>
  <script>
    var progressBar;
    var interval;

    function startProgress() {
      document.querySelector('.progress-bar-fill').style.display = 'block';
      progressBar = document.querySelector('.progress-bar-fill');
      var width = 0;
      interval = setInterval(function() {
        if (width >= 100) {
          clearInterval(interval);
        } else {
          width++;
          progressBar.style.width = width + '%';
        }
      }, 1300);
    }

    function stopProgress() {
      document.querySelector('.progress-bar-fill').style.display = 'none';
      clearInterval(interval);
      progressBar.style.width = '0%';
    }
  </script>  
  <script>
    // 폼 데이터 전송 처리
    $(document).ready(function() {
      // 서버로 분석 요청하기
      var xhr; // XHR 객체 선언
      var chatWindow = $('#chat-window');

      function switchLanguage(language) {
        $.ajax({
            url:'/giftedbase',
            type:'GET',
            data: {lang:language},
            success: function(response) {
                location.reload();
            },
            error: function() {
                
            }
        });
      };        
        
      $("#ko-flag").click(function() {
        switchLanguage("ko");
      });

      $("#uk-flag").click(function() {
        switchLanguage("en");
      });

      $('#submit-btn').click(function(event) {
        event.preventDefault(); // 기본 동작 중단
        
        // 텍스트 박스의 데이터 가져오기
        var textBox = $('#argBox');
        var textBoxValue = $('#argBox').val();
        var submitButton = $('#submit-btn');
        var cancelButton = $('#cancel-btn');
        var txt_msg;
          
        // 데이터가 비어 있는지 확인
        if (textBoxValue.trim() === '') {
          if (lang == 'ko') {
            alert('텍스트에 내용을 입력하세요.');
          } else {
            alert('Please input your text.');
          }
          textBox.focus();
          return;
        }
        
        // AJAX 요청 보내기
        xhr = $.ajax({
          url: '/review', // 데이터 전송 엔드포인트
          type: 'POST',
          data: { text: textBoxValue }, // 텍스트 데이터 전송
          beforeSend: function() {
            // 요청 전에 실행되는 콜백 함수
            submitButton.prop('disabled', true);
            cancelButton.prop('disabled', false);
            
            txt_msg = (lang == 'ko') ? "요청을 처리하는 중입니다. 기다려 주세요.": "Your request is being processed. Please wait.";
            $("#arg-window").text(txt_msg);
            startProgress();
          },
          success: function(response) {
            // 요청 성공 시 실행되는 콜백 함수 
            
            txt_msg = (lang == 'ko') ? "요청이 완료되었습니다.": "Your request is complete."
            $("#arg-window").text(txt_msg);

            stopProgress();
            submitButton.prop('disabled', false);
            cancelButton.prop('disabled', true);

            $('#argRes').text(response.result);
            $('#argFeed').text(response.feedback);
            textBox.focus();
          },

          error: function(xhr, status, error) {
            txt_msg = (lang == 'ko') ? "에러가 발생하였습니다." : "Unknown error occurred. Please try it again.";
            $("#arg-window").text(txt_msg);
            stopProgress();
            
            submitButton.prop('disabled', false);
            cancelButton.prop('disabled', true);
            textBox.focus();
          }
        });
      });

      // 중지 버튼 클릭 이벤트 처리
      $('#cancel-btn').click(function(event) {
        event.preventDefault();

        // AJAX 요청 중지
        if (xhr) {
          xhr.abort();
        }

        stopProgress();

        // 버튼 상태 변경
        $('#submit-btn').prop('disabled', false);
        $('#cancel-btn').prop('disabled', true);
      });
    });
  </script>  
  <script>
    var lang = "{{ lang }}";
  </script>
  <script>
    function onPageLoad() {
      // 페이지 로드가 완료되었을 때 실행할 작업을 여기에 작성합니다.
      stopProgress();
    }

    document.addEventListener('DOMContentLoaded', onPageLoad);
  </script>
</head>
<body>
  <div id="header" style="margin: 0 auto; width: 70%;">
    <table style='width:100%;'>
      <tr>
        <td style='width:80%;'>
          {% if lang == 'ko' %}
            <h1 style="text-align:center; font-color:#4328ff;">인공지능 글쓰기 지도</h1>
          {% else %}
            <h1 style="text-align:center; font-color:#4328ff;">AI Reviewer</h1>
          {% endif %}
        </td>
        <td style='width:20%; text-align:right;'>
          <img id="ko-flag" src='{{ url_for('static', filename='kor.png') }}' alt="Korean" width="50" height="50">
          <img id="uk-flag" src='{{ url_for('static', filename='eng.png') }}' alt="English" width="50" height="50">
        </td>
      </tr>
    </table>
  </div>
  <hr style='margin: 0 auto; width: 70%'>
  <div id="chat-window" style='margin: 0 auto; width: 70%'></div>
  <p></p>
  <hr style='margin: 0 auto; width: 70%'>
  <br>
  <div class="status-container">
    <div id="arg-window" class="text"></div>
    <div class="progress-bar">
      <div class="progress-bar-fill"></div>
    </div>
  </div>
  <br>
  <hr style='margin: 0 auto; width: 70%'>
  <div id="prop-window" style="margin: 0 auto; width: 70%;"></div>
  <table style='border: 1px; margin: 0 auto; width: 80%;'>
    <tr>
      {% if lang == 'ko' %}
      <td align='center' colspan="2" height="50"><b>장문의 텍스트를 교정하고 분석하기 때문에 오랜 시간(1분)이 소요될 수 있습니다.</b></td>
      {% else %}
      <td align='center' colspan="2" height="50"><b>It may take much time longer than 1 min since AI analyses lengthy text.</b></td>
      {% endif %}
    </tr>
    <tr>
      {% if lang == 'ko' %}
      <td align='center'><button class="pretty-button">사람이 작성한 텍스트</button></td>
      <td align='center'><button class="pretty-button">인공지능 어시스턴트 결과</button></td>
      {% else %}
      <td align='center'><button class="pretty-button">Human Text</button></td>
      <td align='center'><button class="pretty-button">AI-assisted Text</button></td>
      {% endif %}
    </tr>
    <tr>
      <td align='center' rowspan="3"><textarea id="argBox" class="input" maxlength="20000"></textarea></td>
      <td align='center'><textarea id="argRes" class="output" readonly></textarea></td>
    </tr>
    <tr>
      <td align='center'>
      {% if lang == 'ko' %}<button class="pretty-button">피드백</button>
      {% else %}<button class="pretty-button">Feedback</button>
      {% endif %}
      </td>
    </tr>
    <tr>
      <td align='center'><textarea id="argFeed" class="feedback" readonly></textarea></td>
    </tr>
    <tr>
    {% if lang =='ko' %}
      <td align='center' colspan="2">
        <button type='button' id='submit-btn'>입력(Send)</button>
        <button type='button' id='cancel-btn'>중지(Abort)</button>
      </td>
    {% else %}
      <td align='center' colspan="2">
        <button type='button' id='submit-btn'>Send</button>
        <button type='button' id='cancel-btn'>Abort</button>
      </td>
    {% endif %}
    </tr>
  </table>    
</body>
</html>
